.admin-dashboard .card {
  border-radius: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.admin-dashboard .card .subtitle {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
}

.admin-dashboard .card.maintenance-progress {
  border-radius: 10px;
  border: 1px solid #3486E6;
  box-shadow: 0 0 1px rgba(20, 79, 242, 0.3);
}

.admin-dashboard .card.repair-progress {
  border-radius: 10px;
  border: 1px solid #DC3545;
  box-shadow: 0 0 1px rgba(213, 78, 16, 0.3);
}

.admin-dashboard .progress-bar{
  background-color: #28A745;
}

.admin-dashboard .card-stats .numbers h3 {
  font-size: clamp(1.2rem, 2.5vw, 1.75rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  margin-bottom: 1rem;
}

.admin-dashboard .card-stats {
  min-height: 130px;
}

.admin-dashboard .card-stats .subtitle h6,
.admin-dashboard .card-stats .title h6 {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}