.admin-header{
    position:absolute;
    top: 0;
    height: 10%;
    width: 100%;
    background-color:   grey;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 100;
}

.admin-aside{
    position: absolute;
    top: 10%;
    left: 0;
    height: 90%;
    width: 15%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 100;
}

.admin-p{
    color: white;
    display: inline;
    margin: 0;
    padding-left: 30px;
}

.admin-aside{
    padding: 3% 0 0 0;
}

.nav-item {
    width: 100%;
    text-align: left;
    padding: 3% 0 3% 10%;
}

.nav-item:hover {
    background-color: rgb(212, 212, 212);
}

.nav-item a {
    color: black;
}

.nav-item-section-title {
    color: black;
    font-weight: bold;
    text-align: left;
    padding: 3% 0 3% 10%;
    pointer-events: none;
    user-select: none;
}

.admin-user-menu-container{
    position: absolute;
    right: 30px;
}



.Admin-Requests{
    position: absolute;
    top: 10%;
    left: 15%;
    width: 85%;
    height: 90%;
}