.reviewed-step-form .row {
    display: flex;
}

.reviewed-step-form .col-diagnostic {
    flex: 2;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1%;
}

.reviewed-step-form .col-amount {
    flex: 1;
    padding: 0 1rem;
}

.col-amount {
    margin-top: 1%;
}

.reviewed-step-form .col-amount .form-group {
    margin-bottom: 1rem; /* Add space between fields */
}

.amount {
    width: 100%;
}

.reviewed-step-form .col-diagnostic .form-group {
    height: 100%;
}

.amount-form-label {
    margin-top: 4%;
}