.reviewed-step-form .row {
    display: flex;
}

.reviewed-step-form .col-diagnostic {
    flex: 2;
    padding: 0 1rem;
}

.reviewed-step-form .col-amount {
    flex: 1;
    padding: 0 1rem;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem; /* Add gap to separate buttons */
}

.button-group button {
    flex: 1;
}

.amount {
    width: 100%;
}