.progress-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 20px auto;
    width: 80%;
}

/* Línea de fondo gris */
.progress-line-background {
    position: absolute;
    top: 15px;
    left: 10%;
    height: 4px;
    background: #ddd;
    width: 80%;
    z-index: 0;
}

/* Línea de progreso dinámica */
.progress-line {
    position: absolute;
    top: 15px;
    left: 10%;
    height: 4px;
    background: green;
    transition: width 0.3s ease-in-out;
    z-index: 0;
}

.step {
    text-align: center;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Ensure items are aligned at the top */
    min-height: 100px; /* Ensure a minimum height to accommodate dates */
}

.step .date {
    font-size: 14px;
    color: #6c757d;
    visibility: hidden;
    margin: 0px;
}

.step .date.visible {
    visibility: visible;
}

.step .time {
    font-size: 14px;
    color: #6c757d;
    visibility: hidden;
    margin: 0px;
}

.step .time.visible {
    visibility: visible;
}

.step .step-name {
    margin-bottom: 1%;
    padding: 0;
    font-size: 15px;
    color: #6c757d;
}

/* Estilo de los puntos */
.circle {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #ddd;
    display: inline-block;
    font-weight: bold;
    color: #fff;
}

/* Cambiar color de los pasos activos */
.active .circle {
    background: green;
}

/* Cambiar color y estilo de los nombres de los pasos activos */
.progress-container .active .step-name {
    color: green;
    font-weight: bold;
}

/* Ajustar la línea de progreso para que no se extienda más allá del último paso */
.progress-container .progress-line {
    width: calc((100% - 30px) * var(--progress));
}

/* Cambiar el contenido del círculo y el color de la barra para el paso cancelado 
.step.Cancelada .circle {
    background: red;
    content: "0";
}

.progress-container.Cancelada .progress-line {
    background: red;
}


Cambiar el contenido del círculo para el paso cancelado 
.step.cancelada .circle {
    content: "6";
}

*/