.admin-requests-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.admin-requests-table th {
  background: #CE4107;
  text-align: left;
  padding: 10px 15px;
  font-weight: 600;
}
.admin-requests-table  thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}
.admin-requests-table td {
  padding: 8px 15px;
  border-bottom: 1px solid #ddd;
}