.Admin-Requests h2{
    text-align: left;
    padding-left: 3%;
    margin-top: 2%;
}

.admin-Requests-table{
    margin: 3%;
}

.requestManagement{
    padding-top: 1%;
    width: 100%;
    height: 100%;
}

.requestManagement .tittle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 1%;

}