.skeleton {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.skeleton-text { height: 20px; margin-bottom: 10px; width: 100%; }
.skeleton-title { height: 40px; margin-bottom: 20px; width: 60%; }
.skeleton-box { height: 100px; width: 100%; }

.buttons-container {
    display: flex;
    width: 100%;
    gap: 1rem;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
}

.buttons-container > div {
  flex: 1;           
  display: flex;      
}

.buttons-container button.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  font-weight: 400;
  font-size: 1rem;
  margin:0 0.5rem;
}