.progress-bar, .progress-stacked{
  background-color: #D55403; /* Cambia a tu color preferido */
}

.steps-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.step.inactive{
  color: grey; 
}

.step.active {
  background:transparent;
  color: #D55403; 
}

.container-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.next-button {
  background-color: #D55403;
  color: white;
  border: none;
}