.p-nav-opposite {
  margin-left: auto;
  text-align: right;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
}

.p-nav-right {
  display: block;
  margin-right: auto;
  max-width: 100%;
}