.row {
  margin: 0; /* Eliminar m치rgenes no deseados */
}

.service-card {
  margin-bottom: 20px; /* Espacio entre las tarjetas de servicio */
}

/* Ajustar el ancho de las tarjetas en pantallas peque침as */
@media (max-width: 767px) {
  .service-card {
      width: 100%; /* Las tarjetas ocupar치n el 100% del ancho en dispositivos peque침os */
  }
}

/* Para pantallas medianas y grandes, puedes usar un grid de 3 columnas */
@media (min-width: 768px) {
  .service-card {
      width: 30%; /* Ajustar al 30% del ancho en pantallas medianas */
  }
}